#privacidade {
    background-color:white;
    margin-top: 5rem;
    width: 100%;
    padding: 1rem 1rem;
    padding-bottom: 4rem;
}

#privacidade h1 {
    text-align: center;
}

#privacidade h2 {
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 24px;
    padding-top: 1rem;
}

#privacidade h1, #privacidade h2 {
    color: var(--beterraba);
}

#privacidade p {
    padding-top: 1rem;
}

#privacidade p, #privacidade ol{
    color: black;
    padding-bottom: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: 14px;
    font-weight: 90;
    text-align: justify;
}

#privacidade li {
    list-style: decimal inside;
    text-indent: -1rem;
    padding-left: 2rem;
}

#privacidade a:link {
    color: black;
}

#privacidade a:visited {
    color: black;
}

@media only screen and (max-width: 500px) {
    #privacidade h1 {
        font-size: 48px;
    }

    #privacidade p, #privacidade ol{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #privacidade h2 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}