footer {
    background-color: var(--beterraba);
    min-height: 260px;
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

footer a {
    text-decoration: none;
}

footer p {
    color: var(--cinza-claro);
    font-weight: 200;
}

.linha-customizada {
    border: none;
    height: 0.5px;
    background-color: white; /* Cor da linha */
    margin: 8px 0; /* Espaçamento acima e abaixo da linha */
}

#menu-footer ul li a {
    display: block;
    text-decoration: none;
    font-weight: 200;
    color: var(--cinza-claro);
    padding: 0.2rem;
}

#menu-footer ul li a:hover{
    font-weight: 400;
}

#logo-footer a h2 {
    color: var(--cinza-claro);
    font-size: 48px;
}

#redes-sociais-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;  
}

#redes-sociais-footer img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Responsividade */
@media only screen and (max-width: 1024px) {
    footer {
      flex-direction: column;
      gap: 6rem;
      text-align: center;
      padding: 2rem 3rem;
    }

    #logo h2 {
       font-size: 24px;
    }

    #menu-footer {
        padding-top: 2rem;
    }

    #contatos-footer {
        padding-bottom: 2rem;
    }
  
    #redes-sociais-footer {
        justify-content: center;
    }
}