* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* Definição das cores */
:root {
    --beterraba: #630043;
    --beterraba-clara: #B872A2;
    --beterraba-media: #890069;

    --verde: #9BBB59;
    --verde-claro: #D7DEC7;
    --verde-escuro: #27521F;


    --cinza-escuro: #353535;
    --cinza-claro: #F6F6F6;
}

/* Definição da fonte */
body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/* Tamanho dos Títulos */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Tamanho dos Textos dos parágrafos */
p {
    font-size: 1rem;
}